<h1>Your Cart</h1>
<br/>

<% if @cart.empty? %>
    <p>Your cart is empty</p>

<%else total=0%>
    <%=link_to 'Empty your cart', cart_clear_path%>

    <hr/>
    <br/>
    <ul>
        <% @cart.each do |p| %>
            <li>
                <%=link_to p.title, product_path(p.id)%>
                &mdash;
                Quantity: <%=q=session[:cart][p.id.to_s]%>
                <% total+=p.price * q %>
            </li>
        <%end%>
    </ul>
    <br/>
    <p>Total: <strong><%=number_to_currency(total, :unit => '$')%></strong></p>

<%end%>